body {
	font: 300 16px 'Source Sans Pro', sans-serif;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

section {
	padding-bottom: 100px;
}

/*** Header ***/

header {
	background: linear-gradient(rgba(53, 128, 194, 0.8), rgba(53, 128, 194, 0.8)), url(../assets/bg1080x2.jpg) center;
	height: 460px;
}

header .container {
	margin: 0 auto;
	max-width: 960px;
}

header ul {
	display: inline-block;
}

#hamburger-menu, .hamburger {
	display: none;
}

header ul.page-nav::before {
	content: "";
	display: inline-block;
	background-image: url(../assets/logo.png);
	background-size: 100% 100%;
	height: 45px;
	width: 45px;
	vertical-align: top;
	margin: 15px 15px 0 0;
}

header li {
	display: inline-block;
	height: 80px;
	box-sizing: border-box;
}

header a {
	transition: background-color 0.2s ease-in;
	display: inline-block;
	color: white;
	padding: 30px 15px;
}

header a:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

ul.social-media {
	position: absolute;
	top: 0;
	right: 0;
}

.social-media a {
	box-sizing: border-box;
	text-indent: -9999px;
	width: 80px;
	position: relative;
	height: 80px;
}

.social-media a::after {
	content:'';
	display: block;
	position: absolute;
	top: 25px;
	left: 25px;
	height: 30px;
	width: 30px;
	background: url(../assets/social.png) no-repeat;
	background-size: 60px;

}

a.facebook::after {
	background-position: -30px 0;
}

header h1 {
	text-align: center;
	font-size: 2.25rem;
	color: white;
	padding: 100px 0;
	text-transform: uppercase;
}

header h1::after {
	content: "";
	display: inline-block;
	background-image: url(../assets/logo.png);
	background-size: 100% 100%;
	height: 130px;
	width: 130px;
	vertical-align: middle;
	margin-left: 25px;
}

.yellow-text {
	color: #f3df49;
}

.math-symbol {
	font-size: 3.5rem;
	font-weight: 300;
	padding: 0 20px;
	position: relative;
	top: 6px;
}

@media (max-width: 1028px) {
	.page-nav {
		font-size: 0.8rem;
	}
}

@media (max-width: 870px) {
	.hamburger {
		display: inline-block;
		font-size: 2.5rem;
		color: white;
		padding-top: 10px;
	}

	.close {
		display: none;
	}

	input[type="checkbox"] {
		opacity: 0;
		position: absolute;
	}

	input[type="checkbox"]:checked ~ .page-nav {
		left: 0;
	}

	input[type="checkbox"]:checked ~ label[for="hamburger-menu"] {
		margin-left: 150px;
	}

	.hamburger:hover {
		cursor: pointer;
	}

	.page-nav {
		position: absolute;
		top: 0;
		left: -250px;
		background-color: rgba(0,0,0,0.75);
	}

	.page-nav li {
		display: block;
		width: 150px;
	}

	.page-nav a:hover {
		width: 150px;
		box-sizing: border-box;
	}

	header ul.page-nav::before {
		display: none;
	}

	.math-symbol {
		display: none;
	}

	.white-text, .yellow-text {
		display: block;
	}

	header h1 {
		padding-top: 50px;
	}

	header h1::before {
	content: "";
	display: block;
	background-image: url(../assets/logo.png);
	background-size: 100% 100%;
	height: 130px;
	width: 130px;
	margin: 0 auto 30px auto;
	}

	header h1::after {
		display: none;
	}
}
/*** Main ***/

h2 {
	font-size: 1.875rem;
	font-weight: 300;
	margin: 0 auto;
	text-align: center;
	max-width: 600px;
	padding: 90px 0;
}

.container {
	padding: 0 20px;
	max-width: 900px;
	margin: 0 auto;
}

.container::after {
	content: "";
	clear: both;
	display: block;
}

.section-title {
	text-transform: uppercase;
	color: #3580C2;
	font-size: 1.875rem;
	text-align: center;
	padding-bottom: 30px;
}

h3.section-title::before{
	content:"";
	display: inline-block;
	border: 42px solid transparent;
	border-left-color: rgba(0,123,255,0.2);	
	border-bottom-color: rgba(0,123,255,0.1);
	vertical-align: middle;
	margin-right: -10px;
}

h3.section-title::after{
	content:"";
	display: inline-block;
	border: 42px solid transparent;
	border-right-color: rgba(0,123,255,0.1);	
	border-top-color: rgba(0,123,255,0.05);
	vertical-align: middle;
	margin-left: -10px;
}

#speakers::after {
	content:"";
	clear: both;
	display: block;
}
.speaker-profile {
	width: 50%;
	float: left;
	box-sizing: border-box;
	padding-right: 10px;
	margin-bottom: 75px;
}

.image {
	/*display: inline-block;*/
	float: left;
	position: relative;
	margin: 0 16px 0 0;
}

.image img{
	width: 120px;
	height: 120px;
	vertical-align: middle;
}

.image::before{
	content: "";
	position: absolute;
	border-style: solid;
	border-width: 0 15px 15px 0;
	border-color: transparent white transparent transparent;
	top: 0;
	right: 0;
}

.image::after{
	content: "";
	position: absolute;
	border-style: solid;
	border-width: 15px 0 0 15px;
	border-color: transparent transparent transparent white;
	bottom: 0;
	left: 0;
}

.speaker-profile h4 {
	font-size: 1.375rem;
	text-transform: uppercase;
	font-weight: 400;
	color: #3580C2;
}

.speaker-profile h4 a.name{
	color: #3580C2;
}
.speaker-profile h4 a.twitter-username{
	text-transform: lowercase;
	color: #969696;
	font-weight: 300;
}

.speaker-profile p {
	padding-bottom: 0;
}

.speaker-profile p a{
	color: #DB3127;
	font-size: 1.315rem;
	font-weight: 400;
}

.speaker-profile h4 a.name:hover, 
.speaker-profile p a:hover {
	text-decoration: underline;
}

@media (max-width: 760px) {
	h2 {
		font-size: 1.25rem;
	}

	h3.section-title {
		position: relative;
		height: 85px;
		line-height: 85px;
	}
	h3.section-title::before{
	content:"";
	display: inline-block;
	border: 42px solid transparent;
	border-left-color: rgba(0,123,255,0.2);	
	border-bottom-color: rgba(0,123,255,0.1);
	vertical-align: top;
	position: absolute;
	left: 0;
}

h3.section-title::after{
	content:"";
	display: inline-block;
	border: 42px solid transparent;
	border-right-color: rgba(0,123,255,0.1);	
	border-top-color: rgba(0,123,255,0.05);
	vertical-align: top;
	position: absolute;
	right: 0;
	}

	div.speaker-profile {
		display: block;
		float: none;
		margin-bottom: 40px;
		width: 90%;
	}

	div.speaker-profile::after {
		content:"";
		clear: both;
		display: block;
	}

	.speaker-profile .name {
		font-size: 1.25rem;
	}

	.speaker-profile p a{
		font-size: 1rem;
	}
}

/** Masters of Ceremony**/

.ceremony-profile {
	margin: 0 auto;
	float: none;
}

/*** Workshops ***/

.workshop-info {
	margin-bottom: 60px;
	padding-left: 135px;
	position: relative;
}
.workshop-info .image {
	position: absolute;
	top: 0;
	left: 0;
}
.workshop-info h3 {
	font-size: 1.75rem;
	vertical-align: top;
}

.workshop-info h3 a{
	color: #3580C2;
	vertical-align: top;
}

.workshop-info h4 {
	font-size: 1.5rem;
	padding-bottom: 30px;
}
.workshop-info h4 a{
	color: #3580C2;
	vertical-align: top;
}

.workshop-info a:hover {
	text-decoration: underline;
}

.workshop-info p {
	font-size: 1.5rem;
	vertical-align: top;
}

@media (max-width: 1028px) {
	.workshop-info h3 a {
	font-size: 1.375rem;
	font-weight: 400;
	}

	.workshop-info h4 {
	font-size: 1.25rem;
	font-weight: 400;
	}

	.workshop-info p {
	font-size: 1.25rem;
	}
}

/*** Sponsors ***/
#sponsors ul {
	width: 100%;
	text-align: center;
	padding-bottom: 35px;
}
#sponsors img {
	width: 550px;
}

#sponsors img.mid-sponsor {
	width: 460px;
}

#sponsors img.minor-sponsor {
	width: 280px;
}

.inline-block {
	display: inline-block;
}

#sponsors h2, p {
	padding-bottom: 35px;
	text-align: left;
}

#sponsors h2 {
	font-weight: 600;
	margin: 0;
	padding-top: 0;
}

#sponsors p {
	font-size: 1.5rem;
}

#sponsors p a {
	color: #3580C2;
	font-weight: 400;
}

#sponsors p a:hover {
	text-decoration: underline;
}

@media (max-width: 760px) {
	#sponsors img {
		width: 360px;
	}

	#sponsors img.mid-sponsor {
		width: 310px;
	}

	#sponsors img.minor-sponsor {
		width: 140px;
		margin: 10px 15px;
	}

	#sponsors p {
		font-size: 1.25rem;
	}
}

/*** News ***/
article {
	padding-bottom: 75px;
}
article h3 a{
	font-size: 1.75rem;
	color: #3580C2;
	font-weight: 400;
}

article h5 {
	font-size: 1rem;
	color: gray;
	font-weight: 300;
	padding: 15px 0 30px 0;
}

article p {
	font-size: 1.75rem;
	padding: 0;
}

@media (max-width: 760px) {
	article h3 a{
		font-size: 1.375rem;
	}
	article h5 {
		font-size: 0.875rem;
	}
	article p {
		font-size: 1.2rem;
	}
}

/*** Venue ***/

#venue {
	padding-bottom: 40px;
}

#venue .image-container {
	height: 320px;
	background-image: url(../assets/akvarium-in.jpg);
	background-size: cover;
	margin-bottom: 70px;
	background-position: 50% 50%;
}

#venue h3 {
	font-size: 1.875rem;
	color: #3580C2;
}

#venue blockquote {
	margin-bottom: 40px;
	font-size: 1.5rem;
	font-style: italic;
	padding-left: 40px;
	border-left: 4px solid #3580C2;
}

#venue blockquote a {
	font-size: 0.875rem;
	text-align: right;
	display: block;
	color: #3580C2;
	padding: 10px 0;
}

#venue blockquote a:hover {
	text-decoration: underline;
}

#venue p {
	font-size: 1.5rem;
}

.map-responsive {
	overflow: hidden;
	padding-bottom: 330px;
	position: relative;
	height: 0;
	margin-bottom: 50px;
}

.map-responsive iframe {
	left: 0;
	top: 0;
	height: 320px;
	width: 100%;
	position: absolute;
	border: 0;
}


.overlay {
   background: transparent; 
   position: relative; 
   width: 100%;
   height: 320px;
   top: 320px;
   margin-top:-320px;
   z-index: 2;
}

@media (max-width: 760px) {
	#venue p {
		font-size: 1.2rem;
	}

	#venue blockquote {
		font-size: 1.2rem;
	}
}

/*** Footer ***/

footer {
	text-align: center;
	font-size: 0.75rem;
	position: relative;
	padding-bottom: 30px;
}

footer::before {
	content: "";
	position: relative;
	display: inline-block;
	border-width: 20px;
	border-style: solid;
	border-color: #3580C2 transparent transparent transparent;
	opacity: 0.05;
	top: 15px;
}

footer p {
	margin: 0 auto;
	text-align: center;
	padding-bottom: 5px;
}

footer a {
	color: #3580C2;
}
